{% extends "myapp/base.html" %}

{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <br>
        <br>

        <div class="card">
            {% if object.thumbnail %}
            <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}" />
            {% else %}
            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top"
                alt="{{ object.title }}" />
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">
                    {{ object.content | linebreaksbr | urlize }}
                </p>
                <br>
                <a href="{% url 'myapp:like_add' object.pk %}" class="btn"
                    style="background-color: hotpink; color: #fff;">お気に入りに入れる</a>
                <hr>
                <a href="{% url 'myapp:post_update' object.pk %}" class="btn btn-primary">更新</a>
                <a href="{% url 'myapp:post_delete' object.pk %}" class="btn btn-danger">削除</a>
            </div>
        </div>

        <br>
        <br>
    </div>

    <div class="col-md-4">
        <br>
        <div class="card">
            <div class="card-body">
                <div class="card-title">{{ object.category }}</div>
                <p>このカテゴリの他の記事</p>
                <ul class="list-gryoup">
                    {% for item in category_posts %}

                    <li class="list-group-item"><a href="{% url 'myapp:post_detail' item.id %}">{{ item.title }}</a>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        <br>

    </div>
</div>


{% endblock %}